asgiref
certifi
charset-normalizer
Django
django-cors-headers
djangorestframework
filelock
fsspec
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
pillow
PyYAML
requests
safetensors
sqlparse
sympy
timm
torch
torchvision
tqdm
typing_extensions
urllib3